<a href="https://colab.research.google.com/github/Peckkie/DPDM2021/blob/main/Data_preprocessing_(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# คำสั่ง  drive.mount : เป็นผูก google drive กับ colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Packet " os " จัดการ ไฟล์ เเละ path 
import os
os.chdir( '/content/drive/MyDrive/DPDM2021_DATA') # local path
!pwd

/content/drive/.shortcut-targets-by-id/14FXB7QGrZpxLIovRThxiO13jXOQcFZ5k/DPDM2021_DATA

In [3]:
import os
import pandas as pd 
data_covid_cases = pd.read_csv( '/content/drive/MyDrive/DPDM2021_DATA/confirmed-cases.csv')
data_covid_cases.head(3)

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง

[3 rows x 11 columns]

# ชี้ข้อมูลในตาราง

In [4]:
data_covid_cases[['risk', 'age']] #เลือกมาเฉพาะตัวแปรที่สนใจ

                                    risk   age
0       คนต่างชาติเดินทางมาจากต่างประเทศ  61.0
1       คนต่างชาติเดินทางมาจากต่างประเทศ  74.0
2       คนต่างชาติเดินทางมาจากต่างประเทศ  73.0
3       คนต่างชาติเดินทางมาจากต่างประเทศ  68.0
4       คนต่างชาติเดินทางมาจากต่างประเทศ  66.0
...                                  ...   ...
512617                  ทัณฑสถาน/เรือนจำ   NaN
512618                  ทัณฑสถาน/เรือนจำ   NaN
512619                  ทัณฑสถาน/เรือนจำ   NaN
512620                  ทัณฑสถาน/เรือนจำ   NaN
512621                  ทัณฑสถาน/เรือนจำ   NaN

[512622 rows x 2 columns]

In [5]:
data_covid_cases['risk'][666] #แสดงค่าข้อมูลของตัวแปร risk ลำดับที่ 666

'สนามมวย'

# ชี้โดยใช่ .iloc[] (แปลงมุมมองให้เป็น matrix)

In [6]:
data_covid_cases.iloc[4,4] #แสดงค่าของเเถวที่ 4 หลักที่ 4
# ข้อดี คือสามารถตัดตาราง slicing แบบ matrix

66.0

In [7]:
data_covid_cases.iloc[-50:,:] #แสดง 50 เเถวสุดท้าย

           No. announce_date  ... province_of_onset district_of_onset
512572  512573     26/7/2021  ...               NaN               NaN
512573  512574     26/7/2021  ...               NaN               NaN
512574  512575     26/7/2021  ...               NaN               NaN
512575  512576     26/7/2021  ...               NaN               NaN
512576  512577     26/7/2021  ...               NaN               NaN
512577  512578     26/7/2021  ...               NaN               NaN
512578  512579     26/7/2021  ...               NaN               NaN
512579  512580     26/7/2021  ...               NaN               NaN
512580  512581     26/7/2021  ...               NaN               NaN
512581  512582     26/7/2021  ...               NaN               NaN
512582  512583     26/7/2021  ...               NaN               NaN
512583  512584     26/7/2021  ...               NaN               NaN
512584  512585     26/7/2021  ...               NaN               NaN
512585  512586     26/7/2021  ...               NaN               NaN
512586  512587     26/7/2021  ...               NaN               NaN
512587  512588     26/7/2021  ...               NaN               NaN
512588  512589     26/7/2021  ...               NaN               NaN
512589  512590     26/7/2021  ...               NaN               NaN
512590  512591     26/7/2021  ...               NaN               NaN
512591  512592     26/7/2021  ...               NaN               NaN
512592  512593     26/7/2021  ...               NaN               NaN
512593  512594     26/7/2021  ...               NaN               NaN
512594  512595     26/7/2021  ...               NaN               NaN
512595  512596     26/7/2021  ...               NaN               NaN
512596  512597     26/7/2021  ...               NaN               NaN
512597  512598     26/7/2021  ...               NaN               NaN
512598  512599     26/7/2021  ...               NaN               NaN
512599  512600     26/7/2021  ...               NaN               NaN
512600  512601     26/7/2021  ...               NaN               NaN
512601  512602     26/7/2021  ...               NaN               NaN
512602  512603     26/7/2021  ...               NaN               NaN
512603  512604     26/7/2021  ...               NaN               NaN
512604  512605     26/7/2021  ...               NaN               NaN
512605  512606     26/7/2021  ...               NaN               NaN
512606  512607     26/7/2021  ...               NaN               NaN
512607  512608     26/7/2021  ...               NaN               NaN
512608  512609     26/7/2021  ...               NaN               NaN
512609  512610     26/7/2021  ...               NaN               NaN
512610  512611     26/7/2021  ...               NaN               NaN
512611  512612     26/7/2021  ...               NaN               NaN
512612  512613     26/7/2021  ...               NaN               NaN
512613  512614     26/7/2021  ...               NaN               NaN
512614  512615     26/7/2021  ...               NaN               NaN
512615  512616     26/7/2021  ...               NaN               NaN
512616  512617     26/7/2021  ...               NaN               NaN
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[50 rows x 11 columns]

In [8]:
data_covid_cases.iloc[-50:,[3,6,8]] #เเสดงค่าคอลัมน์ที่ 3, 6, 8 ใน 50 แถวสุดท้าย

         sex nationality              risk
512572  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512573  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512574  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512575  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512576  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512577  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512578  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512579  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512580  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512581  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512582  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512583  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512584  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512585  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512586  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512587  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512588  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512589  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512590  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512591  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512592  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512593  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512594  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512595  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512596  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512597  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512598   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512599  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512600  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512601  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512602  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512603  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512604  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512605  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512606  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512607  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย         NaN  ทัณฑสถาน/เรือนจำ

# Descriptive Statistics of Data
สถิติ

In [9]:
data_covid_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

# Missing value

* Null
* NaN : Not a Number
* NA : Not Avvailable

In [10]:
data_covid_cases #ตารางมี Null คือ NaN

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [11]:
#คำลั่งที่ช่วยในการดูค่า Missing ด้าน column, any() คือ or ในแนว column (เอาค่าความจริงมา or กันทั้งหมด ถ้ามี 1 แสดงว่าเป็น True)
data_covid_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [12]:
data_covid_cases.isnull().all() #.all() คือ and ในแนว column (เอาค่าความจริงมา and กันทั้งหมด ถ้ามี 1 แสดงว่าเป็น True)
#ตรงข้าม .any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

# Handling Missing Value1 (ลบค่า missing)

In [13]:
data_covid_cases.shape

(512622, 11)

In [14]:
data_covid_cases_M1 = data_covid_cases.dropna() #คำสั่งลบ null->  .dropna()
data_covid_cases_M1.shape

(362205, 11)

size before drop = 1000

size after drop = 10

we lost 99% of data

In [15]:
print(f'size before drop = {len(data_covid_cases)}')
print(f'size after drop = {len(data_covid_cases_M1)}')
print(f'we lost {((len(data_covid_cases)-len(data_covid_cases_M1))/len(data_covid_cases))*100:.2f}% of data')

size before drop = 512622
size after drop = 362205
we lost 29.34% of data

In [16]:
((len(data_covid_cases)-len(data_covid_cases_M1))/len(data_covid_cases) )*100

29.342673548930794

## 1.5 ลบค่าmissing เฉพาะ column ที่เราสนใจ

In [17]:
data_covid_cases_M15 = data_covid_cases.dropna(subset=['Notified date', 'sex',	'age'])
data_covid_cases_M15.shape #data ที่หายไปมันน้อยลง

(449552, 11)

In [18]:
data_covid_cases_M1 = data_covid_cases.dropna() #คำสั่งลบ null->  .dropna()
data_covid_cases_M1.shape

(362205, 11)

## HW11
* print missing1.5

size before drop = 1000

size after drop = 10

we lost 99% of data

now we have x% more data than handing_missing1

In [19]:
print(f'size before drop = {len(data_covid_cases)}')
print(f'size after drop = {len(data_covid_cases_M15)}')
print(f'we lost {((len(data_covid_cases)-len(data_covid_cases_M15))/len(data_covid_cases))*100:.2f}% of data')
print(f'now we have {((len(data_covid_cases_M15)-len(data_covid_cases_M1))/len(data_covid_cases))*100:.2f}% more data than handing_missing1')

size before drop = 512622
size after drop = 449552
we lost 12.30% of data
now we have 17.04% more data than handing_missing1

# Handing Missing Value2 แทนด้วยค่าที่เหมาะสมหรือสร้าง class ใหม่

In [20]:
data_covid_cases.head()

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง
3    4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4    5     24/1/2020  ...     กรุงเทพมหานคร               NaN

[5 rows x 11 columns]

In [21]:
data_covid_cases['age'].mean(skipna=False) # ถ้า function ไม่ได้ป้องกันskipna=False

nan

In [22]:
data_covid_cases[['Notified date']] = data_covid_cases[['Notified date']].fillna('99/99/9999') #เติมค่า missing ให้กับตัวแปร Notified date
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [23]:
data_covid_cases.isnull().any() #check Null

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

## ดู value column "Unit"

In [24]:
set(data_covid_cases['Unit']) # set -> หา unigue values

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

##[PD] วิธีเลือกดู record โดยการกำหนดค่า

In [25]:
data_covid_cases[data_covid_cases['Unit']=='วัน'].sort_values(by = 'age') #sort_values เรียง ตัวแปร age จากน้อยไปมาก

           No. announce_date  ... province_of_onset district_of_onset
339653  339654     12/7/2021  ...       สมุทรปราการ            บางพลี
375821  375822     16/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
367305  367306     15/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
377872  377873     16/7/2021  ...     กรุงเทพมหานคร               NaN
409055  409056     19/7/2021  ...       สมุทรปราการ         พระประแดง
...        ...           ...  ...               ...               ...
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
321015  321016     10/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
291137  291138      6/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
285988  285989      5/7/2021  ...            ชลบุรี           ศรีราชา

[64 rows x 11 columns]

In [26]:
data_covid_cases[data_covid_cases['Unit']==' วัน']

           No. announce_date  ... province_of_onset district_of_onset
138721  138722     27/5/2021  ...       สมุทรปราการ            บางพลี

[1 rows x 11 columns]

```python
data_frame[[list_of_logics]] #list_of_logics มีขนาดเท่ากับจำนวน record ของ data_frame
```

In [27]:
data_covid_cases['Unit']==' วัน' #list_of_logics

0         False
1         False
2         False
3         False
4         False
          ...
512617    False
512618    False
512619    False
512620    False
512621    False
Name: Unit, Length: 512622, dtype: bool

In [28]:
# groupby ดูจำนวนของ unit
data_covid_cases[['Unit','No.']].groupby(['Unit']).agg(['count'])

           No.
         count
Unit
 วัน         1
 เดือน      39
ปี      461483
วัน         64
เดือน     1436

In [29]:
# plt.rxParams['font.family'] = 'tahoma'
# plt.hist('font') #พิมพ์ตามอาจารย์

In [30]:
data_covid_cases[['Unit']] = data_covid_cases[['Unit']].fillna('ปี') 
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [31]:
data_covid_cases[['nationality']] = data_covid_cases[['nationality']].fillna('Thailand')  #commond sense
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

# Quiz 10  หา records ต่อไปนี้

records ที่ กักตัวที่ขอนแก่น

records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร

records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม

records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่

In [32]:
# records ที่ กักตัวที่ขอนแก่น
data_covid_cases[data_covid_cases['province_of_isolation'] =='ขอนแก่น']

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
463        464     22/3/2020  ...           ขอนแก่น             เมือง
1467      1468     30/3/2020  ...           ขอนแก่น             เมือง
1971      1972      3/4/2020  ...           ขอนแก่น             เมือง
2638      2639     15/4/2020  ...           ขอนแก่น            น้ำพอง
...        ...           ...  ...               ...               ...
505598  505599     26/7/2021  ...           ขอนแก่น           ภูเวียง
505599  505600     26/7/2021  ...           ขอนแก่น           ภูเวียง
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[3707 rows x 11 columns]

In [33]:
# records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร
data_covid_cases[(data_covid_cases['province_of_isolation'] =='ขอนแก่น') |(data_covid_cases['province_of_isolation'] =='นครราชสีมา') |(data_covid_cases['province_of_isolation'] =='อุดรธานี') ]

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
189        190     18/3/2020  ...        นครราชสีมา             พิมาย
207        208     18/3/2020  ...     กรุงเทพมหานคร               NaN
212        213     18/3/2020  ...        นครราชสีมา       วังน้ำเขียว
284        285     20/3/2020  ...        นครราชสีมา   เมืองนครราชสีมา
...        ...           ...  ...               ...               ...
507218  507219     26/7/2021  ...               NaN               NaN
507219  507220     26/7/2021  ...               NaN               NaN
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[10539 rows x 11 columns]

In [34]:
#records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม
a = data_covid_cases[(data_covid_cases['sex'] =='หญิง') & (data_covid_cases['province_of_onset'] =='กรุงเทพมหานคร')]
a

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
5            6     25/1/2020  ...     กรุงเทพมหานคร               NaN
6            7     26/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
511560  511561     26/7/2021  ...     กรุงเทพมหานคร            ธนบุรี
511562  511563     26/7/2021  ...     กรุงเทพมหานคร         คลองสามวา
511566  511567     26/7/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
511574  511575     26/7/2021  ...     กรุงเทพมหานคร         ลาดกระบัง
511577  511578     26/7/2021  ...     กรุงเทพมหานคร            บางบอน

[58896 rows x 11 columns]

In [35]:
# records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่
a = data_covid_cases[(data_covid_cases['sex'] =='ชาย')&(data_covid_cases['province_of_isolation'] == 'เชียงใหม่')&(a['age'] >=18)&(a['age'] <=22)]
a

Empty DataFrame
Columns: [No., announce_date, Notified date, sex, age, Unit, nationality, province_of_isolation, risk, province_of_onset, district_of_onset]
Index: []

# Handing Missing Value3 แทนด้วยค่ากลาง

## เติมค่า missing "age"

In [36]:
data_covid_cases[['age']] = data_covid_cases[['age']].fillna(data_covid_cases['age'].mean()) #เติมด้วยค่าเฉลี่ย
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

b a a a b b b 

a a a b b b b

## เติมค่า missing "sex"

In [37]:
sorted(list(data_covid_cases['sex'].dropna()))[int(len(list(data_covid_cases['sex']))/2)-1] #Mode

'หญิง'

In [38]:
data_covid_cases[['sex']].dropna().mode().iloc[0,0]#Mode

'ชาย'

In [39]:
data_covid_cases[['sex']] = data_covid_cases[['sex']].fillna(data_covid_cases[['sex']].dropna().mode().iloc[0,0]) #เติมด้วยค่าเฉลี่ย
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [40]:
set(data_covid_cases['sex'])

{'ชาย', 'นาย', 'หญิง'}

## เติมค่า missing "province_of_isolation"

In [41]:
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()] #เติม province_of_isolation

         No. announce_date  ... province_of_onset district_of_onset
39        40     26/2/2020  ...     กรุงเทพมหานคร          ดอนเมือง
40        41     28/2/2020  ...           นนทบุรี               NaN
41        42     29/2/2020  ...     กรุงเทพมหานคร        วังทองหลาง
42        43      2/3/2020  ...     กรุงเทพมหานคร              สาทร
140      141     16/3/2020  ...     กรุงเทพมหานคร               NaN
...      ...           ...  ...               ...               ...
40815  40816     18/4/2021  ...               NaN               NaN
40816  40817     18/4/2021  ...               NaN               NaN
40817  40818     18/4/2021  ...               NaN               NaN
40830  40831     18/4/2021  ...               NaN               NaN
40831  40832     18/4/2021  ...               NaN               NaN

[508 rows x 11 columns]

In [42]:
#findind Mode of province_of_isolation
data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]#Mode

'กรุงเทพมหานคร'

In [43]:
#fill missing Mode to province_of_isolation
data_covid_cases[['province_of_isolation']] = data_covid_cases[['province_of_isolation']].fillna(data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]) #เติมด้วยค่า Mode
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [ ]:
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()] #checking isnull หลัง fillna

Empty DataFrame
Columns: [No., announce_date, Notified date, sex, age, Unit, nationality, province_of_isolation, risk, province_of_onset, district_of_onset]
Index: []

In [ ]:
# groupby ดูจำนวนของ unit
data_covid_cases[['province_of_isolation','No.']].groupby(['province_of_isolation']).agg(['count'])

                          No.
                        count
province_of_isolation
กระบี่                   1005
กรุงเทพมหานคร          162392
กาญจนบุรี                2756
กาฬสินธุ์                2047
กำแพงเพชร                1800
...                       ...
เพชรบุรี                11268
เพชรบูรณ์                1537
เลย                       853
แพร่                      467
แม่ฮ่องสอน                125

[77 rows x 1 columns]

In [ ]:
data_covid_cases[['sex']].dropna().mode().iloc[0,0]#Mode

'ชาย'

In [ ]:
# data_covid_cases[['province_of_isolation']] = data_covid_cases[['province_of_isolation']].fillna(data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]) #เติมด้วยค่าเฉลี่ย
# data_covid_cases

In [ ]:
# set(data_covid_cases['province_of_isolation'])

## HW12: การจัดการข้อมูลที่ซ้ำกัน ใน province_of_isolation

In [44]:
#checking isnull หลัง ก่อน fillna
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]))

Is null:  0

In [45]:
#สังเกตค่า "province_of_isolation" ที่ --NaN-- แล้ว 'province_of_onset' --not NaN--
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]

Empty DataFrame
Columns: [No., announce_date, Notified date, sex, age, Unit, nationality, province_of_isolation, risk, province_of_onset, district_of_onset]
Index: []

In [46]:
#step:1 fill missing--> 'None 'to province_of_isolation
data_covid_cases[['province_of_isolation_']] = data_covid_cases[['province_of_isolation']].fillna('None') #เติมด้วยค่า None
data_covid_cases

           No. announce_date  ... district_of_onset province_of_isolation_
0            1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1            2     17/1/2020  ...               NaN          กรุงเทพมหานคร
2            3     22/1/2020  ...             เมือง                 นครปฐม
3            4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4            5     24/1/2020  ...               NaN                นนทบุรี
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [47]:
#step:2 เติมค่า'province_of_onset' --not NaN-- ใน  "province_of_isolation" ที่ --NaN--
isolation = list(data_covid_cases.province_of_isolation_)
onset = list(data_covid_cases.province_of_onset)
province_of_isolation_ =[]
for i in range(len(data_covid_cases)):
    if isolation[i] == 'None':
        province_of_isolation_.append(onset[i])
    else:
        province_of_isolation_.append(isolation[i])
data_covid_cases[['province_of_isolation_']] = province_of_isolation_
#checking isnull หลัง fillna ด้วย 'province_of_onset' --not NaN--
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

Is null:  0

In [48]:
#step:3 fillna missing ที่เหลือด้วย ค่า Mode

    #findind Mode of province_of_isolation
print((data_covid_cases[['province_of_isolation_']].dropna().mode().iloc[0,0]))#Mode
data_covid_cases[['province_of_isolation_']] = data_covid_cases[['province_of_isolation_']].fillna(data_covid_cases[['province_of_isolation_']].dropna().mode().iloc[0,0]) #เติมด้วยค่า Mode
    #checking isnull หลัง fillna ด้วย 'province_of_onset' --not NaN--
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

กรุงเทพมหานคร
Is null:  0

In [49]:
data_covid_cases

           No. announce_date  ... district_of_onset province_of_isolation_
0            1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1            2     17/1/2020  ...               NaN          กรุงเทพมหานคร
2            3     22/1/2020  ...             เมือง                 นครปฐม
3            4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4            5     24/1/2020  ...               NaN                นนทบุรี
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [50]:
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

Is null:  0

## อีกวิธีตามโคดอ.ต้น

In [ ]:
# data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]))

Is null:  508

In [ ]:
new_p_iso =[]
for row in data_covid_cases.iterrows(): #ทำงานทีละ row
    if pd.isna(row[1]['province_of_isolation']):
        if pd.isna(row[1]['province_of_onset']) == False: #ค่าว่าง
            new_p_iso.append(row[1]['province_of_onset']) 
        else:
            new_p_iso.append(data_covid_cases[['province_of_isolation_']].dropna().mode().iloc[0,0])# mode
    else:
        new_p_iso.append(row[1]['province_of_isolation'])

In [ ]:
len(new_p_iso)

512622

In [ ]:
data_covid_cases['province_of_isolation'] = new_p_iso

In [ ]:
data_covid_cases.isnull().any()

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                       True
province_of_onset          True
district_of_onset          True
province_of_isolation_    False
dtype: bool

In [ ]:
# print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

### Loop[PD]

In [ ]:
#วนแบบ iloc 
for i in range(10):
    this_data = data_covid_cases.iloc[i,6]

In [ ]:
#วนแบบ iterrows
for record in data_covid_cases.iloc[:10,:] .iterrows():
    this_data = record
    print(this_data)
    print('-----------------------------------------------------')

(0, No.                                                      1
announce_date                                    12/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     61
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 0, dtype: object)
-----------------------------------------------------
(1, No.                                                      2
announce_date                                    17/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     74
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 1, dtype: object)
-----------------------------------------------------
(2, No.                                                      3
announce_date                                    22/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     73
Unit                                                    ปี
nationality                                       Thailand
province_of_isolation                               นครปฐม
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                   นครปฐม
district_of_onset                                    เมือง
province_of_isolation_                              นครปฐม
Name: 2, dtype: object)
-----------------------------------------------------
(3, No.                                                      4
announce_date                                    22/1/2020
Notified date                                   99/99/9999
sex                                                    ชาย
age                                                     68
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 3, dtype: object)
-----------------------------------------------------
(4, No.                                                      5
announce_date                                    24/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     66
Unit                                                    ปี
nationality                                          China
province_of_isolation                              นนทบุรี
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                             นนทบุรี
Name: 4, dtype: object)
-----------------------------------------------------
(5, No.                                                      6
announce_date                                    25/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     33
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 5, dtype: object)
-----------------------------------------------------
(6, No.                                                      7
announce_date                                    26/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     57
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 6, dtype: object)
-----------------------------------------------------
(7, No.                                                      8
announce_date                                    26/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     73
Unit                                                    ปี
nationality                                          China
province_of_isolation                      ประจวบคีรีขันธ์
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                          ประจวบคีรีขันธ์
district_of_onset                                   หัวหิน
province_of_isolation_                     ประจวบคีรีขันธ์
Name: 7, dtype: object)
-----------------------------------------------------
(8, No.                                                      9
announce_date                                    28/1/2020
Notified date                                   99/99/9999
sex                                                    ชาย
age                                                     63
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 8, dtype: object)
-----------------------------------------------------
(9, No.                                                     10
announce_date                                    28/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     28
Unit                                                    ปี
nationality                                          China
province_of_isolation                              นนทบุรี
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                  นนทบุรี
district_of_onset                                      NaN
province_of_isolation_                             นนทบุรี
Name: 9, dtype: object)
-----------------------------------------------------

### สามารถกำหนดค่าให้กับตารางทีละ column 
หรือสร้าง column ใหม่ให้กับตารางได้โดยใช้ list ที่มีจำนวนเท่ากับ record

In [ ]:
data_covid_cases['nee_col'] = list(range(data_covid_cases.shape[0])) #สร้าง column ใหม่ ในตาราง
data_covid_cases

In [ ]:
import os
import pandas as pd 
data_cases2 = pd.read_csv( '/content/drive/MyDrive/DPDM2021_DATA/confirmed-cases.csv')

In [ ]:
data_cases2[pd.isna(data_cases2['province_of_isolation'])] #ดูค่า Nan อีกแบบ

# Handing Missing Value4 แทนด้วยค่ากลางของกลุ่ม

In [51]:
data_covid_cases.isnull().any()

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                       True
province_of_onset          True
district_of_onset          True
province_of_isolation_    False
dtype: bool

## เติมค่า missing "risk"

In [52]:
#risk  ความเสี่ยงในการติดโควิค --> ไม่ใช่ตัวเลขเราจะเอา Mode
# คนที่พบในเเต่ละจังหวัด Mode ความเสี่ยงเป็นอะไร

In [53]:
risk_list = list(set(data_covid_cases.risk))
print(risk_list)

[nan, 'ACF รองเมือง', 'Cluster โรงงาน  Big Star', 'Cluster ตราด', 'สัมผัสผู้เดินทางจากต่างประเทศ', 'Cluster ตราด ', 'State Quarantine', 'คนไทยเดินทางมาจากต่างประเทศ', 'รอประสาน', 'คนต่างชาติเดินทางมาจากต่างประเทศ', 'ค้นหาเชิงรุก', 'ACF สนามกีฬาไทย-ญี่ปุ่น', 'ผับหัวหิน', 'Cluster ตลาดบางพลี', 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน', 'อื่นๆ', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ', 'Cluster เรือนจำกลางคลองเปรม', 'สัมผัสผู้ป่วยยืนยัน', 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว', 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น', 'Refer in', 'ผู้ป่วย กรุงเทพมหานคร', 'Cluster บางแค', 'บุคลากรด้านการแพทย์และสาธารณสุข', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ', 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ', 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน', 'ACF สนามกีฬาธูปะเตมีย์', 'สนามมวย', 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน', 'Cluster สถานบันเทิงย่านทองหล่อ', 'Cluster ชลบุรี บริษัทไดกิ้น', 'ไปยังพื้นที่ที่มีการระบาด', 'อยุ่ระหว่างสอบสวน', 'Cluster โรงงาน standard can', 'ตรวจก่อนทำหัตถการ', 'Cluster ผับ Thonglor', 'Cluster โรงงานทำขนม บางขุนเทียน', '2.สัมผัสผู้ติดเชื้อ', 'Cluster บ่อนพัทยา/ชลบุรี', 'Cluster บ่อนไก่อ่างทอง', 'ตลาด', 'ศูนย์กักกัน ผู้ต้องกัก', 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)', 'ปอดอักเสบ (Pneumonia)', 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต', 'Cluster โรงงาน Big Star', 'ระหว่างสอบสวน', 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร.', 'Cluster เรือนจำพิเศษธนบุรี', "Cluster Memory 90's กรุงเทพมหานคร", 'สัมผัสในสถานพยาบาล', 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า', 'อยู่ระหว่างสอบสวนโรค', 'Cluster โรงงาน QPP ประจวบฯ', 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น', 'Cluster ทันฑสถานบำบัดพิเศษกลาง', 'Cluster เรือนจำพิเศษกรุงเทพ', 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน', 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานครมหานคร', 'Cluster สมุทรปราการ GRP Hightech', 'อยู่ระหว่างการสอบสวน\n', 'Cluster ทัณฑสถานโรงพยาบาลราชทัณฑ์', 'Sandbox', 'สัมผัสผู้ป่วยยืนยัน \n อยู่ระหว่างสอบสวน', 'ตรวจสุขภาพแรงงานต่างด้าว', 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar', 'อื่น', 'ผู้ป่วย PUI', 'Cluster ปากช่อง', 'Cluster ทัณฑสถานหญิงกลาง', 'อยู่ระหว่างการสอบสวน', 'Cluster คลองเตย', 'สถานที่ทำงาน', 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)', 'Cluster ชลบุรี', 'ร้านอาหาร', 'Cluster สมุทรปราการ ตลาดเคหะบางพลี', 'Cluster จันทบุรี', 'Cluster บ่อนเทพารักษ์', 'เดินทางมาจากพื้นที่มีการระบาดของโรค', 'Cluster มหาสารคาม', 'Cluster ห้างแสงทอง (สายล่าง)', 'Cluster งานมอเตอร์ โชว์', 'ระหว่างการสอบสวนโรค', 'Cluster ตลาดนนทบุรี', 'ระบุไม่ได้', 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)', 'คนไทยมาจากพื้นที่เสี่ยง', 'Cluster เรือนจำพิเศษมีนบุรี', 'ผู้ติดเชื้อในประเทศ', 'ACF เคหะหลักสี่', 'SHUI', 'Cluster ตลาดพรพัฒน์', 'Cluster กรุงเทพมหานคร. คลองเตย', 'Cluster ระยอง วิริยะประกันภัย', 'Cluster New Jazz กรุงเทพมหานคร', 'อยู่ระหว่างสอบสวน', 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน', 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า', 'สถานบันเทิง', 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ', 'Cluster บริษัทศรีสวัสดิ์', 'ACF สีลม', 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)', 'Cluster ระยอง', 'รับจ้างขนของที่ตลาดท่ายาง', 'สัมผัสผู้ป่วยยืนยัน อยุ๋ระหว่างสอบสวน', 'Cluster ตลาดสี่มุมเมือง', 'ทัณฑสถาน/เรือนจำ', 'คนไทยเดินทางกลับจากต่างประเทศ', 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง', 'พิธีกรรมทางศาสนา', 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน', 'Cluster ตลาดบางแค/คลองขวาง', 'Cluster จันทบุรี (ชาวกินี )', 'อาศัย/เดินทางไปในพื้นที่ที่มีการระบาด', 'Cluster ชลบุรี โรงเบียร์ 90', 'ปอดอักเสบ Pneumonia', 'Cluster จนท. สนามบินสุวรรณภูมิ', 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน', 'Cluster สมุทรสาคร', 'สัมผัสผู้ติดเชื้อยืนยัน อยู่ระหว่างสอบสวน', 'Cluster จันทบุรี (ชาวกินี)', 'Cluster ตลาดบางแค', 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)', 'สัมผัสผู้ป่วยที่ติดโควิด', 'Cluster The Lounge Salaya', 'Cluster Icon siam']

### ขอนแก่น

In [54]:
datakk = data_covid_cases[data_covid_cases['province_of_onset']=='ขอนแก่น']
datakk[['risk']].dropna().mode().iloc[0,0]

'ทัณฑสถาน/เรือนจำ'

In [55]:
datakk[['risk']] = datakk[['risk']] .fillna(datakk[['risk']].dropna().mode().iloc[0,0])
datakk.isnull().any()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset         False
district_of_onset          True
province_of_isolation_    False
dtype: bool

### อุบลราชธานี

In [56]:
dataUbon = data_covid_cases[data_covid_cases['province_of_onset']=='อุบลราชธานี']
dataUbon[['risk']].dropna().mode().iloc[0,0]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [57]:
dataUbon[['risk']] = dataUbon[['risk']] .fillna(dataUbon[['risk']].dropna().mode().iloc[0,0])
dataUbon.isnull().any()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset         False
district_of_onset          True
province_of_isolation_    False
dtype: bool

### กรุงเทพมหานคร

In [58]:
dataBKK= data_covid_cases[data_covid_cases['province_of_onset']=='กรุงเทพมหานคร']
dataBKK[['risk']].dropna().mode().iloc[0,0]

'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน'

In [59]:
dataBKK[['risk']] = dataBKK[['risk']] .fillna(dataBKK[['risk']].dropna().mode().iloc[0,0])
dataBKK.isnull().any()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset         False
district_of_onset          True
province_of_isolation_    False
dtype: bool

### [PD] ต่อตารางแกน y

In [63]:
data = pd.concat([dataBKK, dataUbon, datakk])
data.head()

   No. announce_date  ... district_of_onset province_of_isolation_
0    1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1    2     17/1/2020  ...               NaN          กรุงเทพมหานคร
3    4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4    5     24/1/2020  ...               NaN                นนทบุรี
5    6     25/1/2020  ...               NaN          กรุงเทพมหานคร

[5 rows x 12 columns]

### วนลูปทำทุกจังหวัด

In [64]:
prov_list = list()
a = list(set(data_covid_cases['province_of_onset']))
aa= [a[0]]+a[2:]
for e_province in aa:
    print(e_province)
    dataCN = data_covid_cases[data_covid_cases['province_of_onset']==e_province]
    dataCN[['risk']] = dataCN[['risk']].fillna(dataCN[['risk']].dropna().mode().iloc[0,0])
    prov_list.append(dataCN) ## 
dataALL = pd.concat(prov_list)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

nan
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-64-9e217ef3d92a>", line 7, in <module>
    dataCN[['risk']] = dataCN[['risk']].fillna(dataCN[['risk']].dropna().mode().iloc[0,0])
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py", line 873, in __getitem__
    return self._getitem_tuple(key)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py", line 1443, in _getitem_tuple
    self._has_valid_tuple(tup)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py", line 702, in _has_valid_tuple
    self._validate_key(k, i)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py", line 1352, in _validate_key
    self._validate_integer(key, axis)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py", line 1437, in _validate_integer
    raise IndexError("single positional indexer is out-of-bounds")
IndexError: single positional indexer is out-of-bounds

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'IndexError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

IndexError: ignored

In [65]:
dataALL

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-65-3ae611740579>", line 1, in <module>
    dataALL
NameError: name 'dataALL' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

NameError: ignored

In [66]:
datamissingonset = data_covid_cases[pd.isna(data_covid_cases['province_of_onset'])] #จัดการค่า กลุ่ม province_of_onset --> Nan ด้วยการเติมค่า mode
datamissingonset

           No. announce_date  ... district_of_onset province_of_isolation_
415        416     22/3/2020  ...               NaN          กรุงเทพมหานคร
530        531     22/3/2020  ...               NaN          กรุงเทพมหานคร
556        557     22/3/2020  ...               NaN          กรุงเทพมหานคร
577        578     22/3/2020  ...               NaN          กรุงเทพมหานคร
589        590     22/3/2020  ...               NaN          กรุงเทพมหานคร
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[65017 rows x 12 columns]

In [67]:
datamissingonset[['risk']] = datamissingonset[['risk']].fillna(datamissingonset[['risk']].dropna().mode().iloc[0,0]) #fill missing by mode
dataALL = pd.concat([dataALL,datamissingonset]) #รวมตารางอีกรอบ
dataALL

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-224e221deb9e>", line 2, in <module>
    dataALL = pd.concat([dataALL,datamissingonset]) #รวมตารางอีกรอบ
NameError: name 'dataALL' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'NameError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
FileNotFoundError: [Errno 2] No such file or directory

NameError: ignored

In [ ]:
dataALL.isnull().any()

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset          True
district_of_onset          True
province_of_isolation_    False
dtype: bool

In [ ]:
dataALL = dataALL.sort_values(by='No.') #เรียง index จากน้อยไปมาก
dataALL

           No. announce_date  ... district_of_onset province_of_isolation_
0            1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1            2     17/1/2020  ...               NaN          กรุงเทพมหานคร
2            3     22/1/2020  ...             เมือง                 นครปฐม
3            4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4            5     24/1/2020  ...               NaN                นนทบุรี
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [ ]:
dataALL.keys() #เช็คชื่อตัวแปร

# การทำงานกับ datetime-timestamp

In [76]:
data_covid_cases.sort_values(by= ['announce_date'], ascending=True)[270:290] 
#ลักษณะการเรียนของ sort_values มันจะไม่ถูกต้องเพราะ คอลัมท์ announce_date เป็นูปแบบมันเป็น string ลักษณะที่เรียงเเล้วมั่วต้องหาวิธีอื่นเพิ่มเติม

       No. announce_date  ... district_of_onset province_of_isolation_
6954  6955      1/1/2021  ...               NaN              สมุทรสาคร
6963  6964      1/1/2021  ...               NaN              สมุทรสาคร
6961  6962      1/1/2021  ...               NaN              สมุทรสาคร
6960  6961      1/1/2021  ...               NaN              สมุทรสาคร
6959  6960      1/1/2021  ...               NaN              สมุทรสาคร
6958  6959      1/1/2021  ...               NaN              สมุทรสาคร
6957  6958      1/1/2021  ...               NaN              สมุทรสาคร
6956  6957      1/1/2021  ...               NaN              สมุทรสาคร
6962  6963      1/1/2021  ...               NaN              สมุทรสาคร
3565  3566     1/10/2020  ...            บางรัก          กรุงเทพมหานคร
3566  3567     1/10/2020  ...          บางละมุง                 ชลบุรี
3567  3568     1/10/2020  ...             บางนา          กรุงเทพมหานคร
3568  3569     1/10/2020  ...          คลองหลวง          กรุงเทพมหานคร
3569  3570     1/10/2020  ...          คลองหลวง          กรุงเทพมหานคร
3781  3782     1/11/2020  ...           ปทุมวัน          กรุงเทพมหานคร
3782  3783     1/11/2020  ...          ปากเกร็ด                นนทบุรี
3783  3784     1/11/2020  ...            ดินแดง          กรุงเทพมหานคร
3784  3785     1/11/2020  ...            บางรัก          กรุงเทพมหานคร
4004  4005     1/12/2020  ...               NaN          กรุงเทพมหานคร
4008  4009     1/12/2020  ...           สุรวงศ์          กรุงเทพมหานคร

[20 rows x 12 columns]

In [77]:
from datetime import datetime #packet ที่ใช้ในการจัดการ ขช้อมูลประเภท datetime
#สามารถ

In [78]:
data_covid_cases.iloc[0,1]

'12/1/2020'

In [82]:
pd.to_datetime(data_covid_cases.iloc[0,1]) #ตอนใช้ pd.to_datetime(datato_changing)
#ตัวช่วยของ panda

Timestamp('2020-12-01 00:00:00')

In [88]:
data_covid_cases['announce_date'] = pd.to_datetime(data_covid_cases['announce_date'], dayfirst=True) #dayfirst เรียงจากวันก่อน
#คอลัมน์นี้จะต้องเท่ากับ list 1 ตัวที่มีจำนวนเท่ากันกับ row ในคอลัมน์เดิม

In [90]:
data_covid_cases

           No. announce_date  ... district_of_onset province_of_isolation_
0            1    2020-12-01  ...               NaN          กรุงเทพมหานคร
1            2    2020-01-17  ...               NaN          กรุงเทพมหานคร
2            3    2020-01-22  ...             เมือง                 นครปฐม
3            4    2020-01-22  ...               NaN          กรุงเทพมหานคร
4            5    2020-01-24  ...               NaN                นนทบุรี
...        ...           ...  ...               ...                    ...
512617  512618    2021-07-26  ...               NaN                 ชลบุรี
512618  512619    2021-07-26  ...               NaN                 ชลบุรี
512619  512620    2021-07-26  ...               NaN                 ชลบุรี
512620  512621    2021-07-26  ...               NaN                 ชลบุรี
512621  512622    2021-07-26  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [91]:
data_covid_cases.sort_values(by= ['announce_date'], ascending=True) #สังเกตจะเห็น ว่า

           No. announce_date  ... district_of_onset province_of_isolation_
1652      1653    2020-01-04  ...               NaN          กรุงเทพมหานคร
1685      1686    2020-01-04  ...           อ่อนนุช          กรุงเทพมหานคร
1684      1685    2020-01-04  ...               NaN          กรุงเทพมหานคร
1683      1684    2020-01-04  ...       บางขุนเทียน          กรุงเทพมหานคร
1682      1683    2020-01-04  ...            ประเวศ          กรุงเทพมหานคร
...        ...           ...  ...               ...                    ...
340295  340296    2021-12-07  ...            พานทอง                 ชลบุรี
340296  340297    2021-12-07  ...            พานทอง                 ชลบุรี
340297  340298    2021-12-07  ...            พานทอง                 ชลบุรี
340288  340289    2021-12-07  ...          พนัสนิคม                 ชลบุรี
341268  341269    2021-12-07  ...               NaN              บุรีรัมย์

[512622 rows x 12 columns]

## วิธีการเลือกข้อมูล

In [93]:
data_covid_cases[data_covid_cases['announce_date']==datetime(day =13, month = 4, year = 2020)].head(3)

       No. announce_date  ... district_of_onset province_of_isolation_
2552  2553    2020-04-13  ...              ถลาง                 ภูเก็ต
2553  2554    2020-04-13  ...              ถลาง                 ภูเก็ต
2554  2555    2020-04-13  ...             ธารโต                   ยะลา

[3 rows x 12 columns]

In [95]:
#ช่วงสงกรานต์ ระหว่างวันที่ 13-15
data_covid_cases[(data_covid_cases['announce_date']>=datetime(day =13, month = 4, year = 2020)) & (data_covid_cases['announce_date']<=datetime(day =15, month = 4, year = 2020))].head(3)

       No. announce_date  ... district_of_onset province_of_isolation_
2552  2553    2020-04-13  ...              ถลาง                 ภูเก็ต
2553  2554    2020-04-13  ...              ถลาง                 ภูเก็ต
2554  2555    2020-04-13  ...             ธารโต                   ยะลา

[3 rows x 12 columns]

In [ ]:
data_covid_cases