<a href="https://colab.research.google.com/github/Peckkie/DPDM2021/blob/main/Data_preprocessing_(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# คำสั่ง  drive.mount : เป็นผูก google drive กับ colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Packet " os " จัดการ ไฟล์ เเละ path 
import os
os.chdir( '/content/drive/MyDrive/DPDM2021_DATA') # local path
!pwd

/content/drive/.shortcut-targets-by-id/14FXB7QGrZpxLIovRThxiO13jXOQcFZ5k/DPDM2021_DATA

In [3]:
import os
import pandas as pd 
data_covid_cases = pd.read_csv( '/content/drive/MyDrive/DPDM2021_DATA/confirmed-cases.csv')
data_covid_cases.head(3)

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง

[3 rows x 11 columns]

# ชี้ข้อมูลในตาราง

In [4]:
data_covid_cases[['risk', 'age']] #เลือกมาเฉพาะตัวแปรที่สนใจ

                                    risk   age
0       คนต่างชาติเดินทางมาจากต่างประเทศ  61.0
1       คนต่างชาติเดินทางมาจากต่างประเทศ  74.0
2       คนต่างชาติเดินทางมาจากต่างประเทศ  73.0
3       คนต่างชาติเดินทางมาจากต่างประเทศ  68.0
4       คนต่างชาติเดินทางมาจากต่างประเทศ  66.0
...                                  ...   ...
512617                  ทัณฑสถาน/เรือนจำ   NaN
512618                  ทัณฑสถาน/เรือนจำ   NaN
512619                  ทัณฑสถาน/เรือนจำ   NaN
512620                  ทัณฑสถาน/เรือนจำ   NaN
512621                  ทัณฑสถาน/เรือนจำ   NaN

[512622 rows x 2 columns]

In [5]:
data_covid_cases['risk'][666] #แสดงค่าข้อมูลของตัวแปร risk ลำดับที่ 666

'สนามมวย'

# ชี้โดยใช่ .iloc[] (แปลงมุมมองให้เป็น matrix)

In [6]:
data_covid_cases.iloc[4,4] #แสดงค่าของเเถวที่ 4 หลักที่ 4
# ข้อดี คือสามารถตัดตาราง slicing แบบ matrix

66.0

In [7]:
data_covid_cases.iloc[-50:,:] #แสดง 50 เเถวสุดท้าย

           No. announce_date  ... province_of_onset district_of_onset
512572  512573     26/7/2021  ...               NaN               NaN
512573  512574     26/7/2021  ...               NaN               NaN
512574  512575     26/7/2021  ...               NaN               NaN
512575  512576     26/7/2021  ...               NaN               NaN
512576  512577     26/7/2021  ...               NaN               NaN
512577  512578     26/7/2021  ...               NaN               NaN
512578  512579     26/7/2021  ...               NaN               NaN
512579  512580     26/7/2021  ...               NaN               NaN
512580  512581     26/7/2021  ...               NaN               NaN
512581  512582     26/7/2021  ...               NaN               NaN
512582  512583     26/7/2021  ...               NaN               NaN
512583  512584     26/7/2021  ...               NaN               NaN
512584  512585     26/7/2021  ...               NaN               NaN
512585  512586     26/7/2021  ...               NaN               NaN
512586  512587     26/7/2021  ...               NaN               NaN
512587  512588     26/7/2021  ...               NaN               NaN
512588  512589     26/7/2021  ...               NaN               NaN
512589  512590     26/7/2021  ...               NaN               NaN
512590  512591     26/7/2021  ...               NaN               NaN
512591  512592     26/7/2021  ...               NaN               NaN
512592  512593     26/7/2021  ...               NaN               NaN
512593  512594     26/7/2021  ...               NaN               NaN
512594  512595     26/7/2021  ...               NaN               NaN
512595  512596     26/7/2021  ...               NaN               NaN
512596  512597     26/7/2021  ...               NaN               NaN
512597  512598     26/7/2021  ...               NaN               NaN
512598  512599     26/7/2021  ...               NaN               NaN
512599  512600     26/7/2021  ...               NaN               NaN
512600  512601     26/7/2021  ...               NaN               NaN
512601  512602     26/7/2021  ...               NaN               NaN
512602  512603     26/7/2021  ...               NaN               NaN
512603  512604     26/7/2021  ...               NaN               NaN
512604  512605     26/7/2021  ...               NaN               NaN
512605  512606     26/7/2021  ...               NaN               NaN
512606  512607     26/7/2021  ...               NaN               NaN
512607  512608     26/7/2021  ...               NaN               NaN
512608  512609     26/7/2021  ...               NaN               NaN
512609  512610     26/7/2021  ...               NaN               NaN
512610  512611     26/7/2021  ...               NaN               NaN
512611  512612     26/7/2021  ...               NaN               NaN
512612  512613     26/7/2021  ...               NaN               NaN
512613  512614     26/7/2021  ...               NaN               NaN
512614  512615     26/7/2021  ...               NaN               NaN
512615  512616     26/7/2021  ...               NaN               NaN
512616  512617     26/7/2021  ...               NaN               NaN
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[50 rows x 11 columns]

In [8]:
data_covid_cases.iloc[-50:,[3,6,8]] #เเสดงค่าคอลัมน์ที่ 3, 6, 8 ใน 50 แถวสุดท้าย

         sex nationality              risk
512572  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512573  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512574  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512575  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512576  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512577  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512578  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512579  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512580  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512581  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512582  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512583  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512584  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512585  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512586  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512587  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512588  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512589  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512590  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512591  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512592  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512593  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512594  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512595  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512596  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512597  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512598   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512599  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512600  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512601  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512602  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512603  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512604  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512605  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512606  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512607  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย         NaN  ทัณฑสถาน/เรือนจำ

# Descriptive Statistics of Data
สถิติ

In [9]:
data_covid_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

# Missing value

* Null
* NaN : Not a Number
* NA : Not Avvailable

In [10]:
data_covid_cases #ตารางมี Null คือ NaN

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [11]:
#คำลั่งที่ช่วยในการดูค่า Missing ด้าน column, any() คือ or ในแนว column (เอาค่าความจริงมา or กันทั้งหมด ถ้ามี 1 แสดงว่าเป็น True)
data_covid_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [12]:
data_covid_cases.isnull().all() #.all() คือ and ในแนว column (เอาค่าความจริงมา and กันทั้งหมด ถ้ามี 1 แสดงว่าเป็น True)
#ตรงข้าม .any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

# Handling Missing Value1 (ลบค่า missing)

In [13]:
data_covid_cases.shape

(512622, 11)

In [14]:
data_covid_cases_M1 = data_covid_cases.dropna() #คำสั่งลบ null->  .dropna()
data_covid_cases_M1.shape

(362205, 11)

size before drop = 1000

size after drop = 10

we lost 99% of data

In [15]:
print(f'size before drop = {len(data_covid_cases)}')
print(f'size after drop = {len(data_covid_cases_M1)}')
print(f'we lost {((len(data_covid_cases)-len(data_covid_cases_M1))/len(data_covid_cases))*100:.2f}% of data')

size before drop = 512622
size after drop = 362205
we lost 29.34% of data

In [16]:
((len(data_covid_cases)-len(data_covid_cases_M1))/len(data_covid_cases) )*100

29.342673548930794

## 1.5 ลบค่าmissing เฉพาะ column ที่เราสนใจ

In [17]:
data_covid_cases_M15 = data_covid_cases.dropna(subset=['Notified date', 'sex',	'age'])
data_covid_cases_M15.shape #data ที่หายไปมันน้อยลง

(449552, 11)

In [18]:
data_covid_cases_M1 = data_covid_cases.dropna() #คำสั่งลบ null->  .dropna()
data_covid_cases_M1.shape

(362205, 11)

## HW11
* print missing1.5

size before drop = 1000

size after drop = 10

we lost 99% of data

now we have x% more data than handing_missing1

In [19]:
print(f'size before drop = {len(data_covid_cases)}')
print(f'size after drop = {len(data_covid_cases_M15)}')
print(f'we lost {((len(data_covid_cases)-len(data_covid_cases_M15))/len(data_covid_cases))*100:.2f}% of data')
print(f'now we have {((len(data_covid_cases_M15)-len(data_covid_cases_M1))/len(data_covid_cases))*100:.2f}% more data than handing_missing1')

size before drop = 512622
size after drop = 449552
we lost 12.30% of data
now we have 17.04% more data than handing_missing1

# Handing Missing Value2 แทนด้วยค่าที่เหมาะสมหรือสร้าง class ใหม่

In [21]:
data_covid_cases.head()

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง
3    4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4    5     24/1/2020  ...     กรุงเทพมหานคร               NaN

[5 rows x 11 columns]

In [25]:
data_covid_cases['age'].mean(skipna=False) # ถ้า function ไม่ได้ป้องกันskipna=False

35.52947029096511

In [26]:
data_covid_cases[['Notified date']] = data_covid_cases[['Notified date']].fillna('99/99/9999') #เติมค่า missing ให้กับตัวแปร Notified date
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [27]:
data_covid_cases.isnull().any() #check Null

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

## ดู value column "Unit"

In [29]:
set(data_covid_cases['Unit']) # set -> หา unigue values

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

##[PD] วิธีเลือกดู record โดยการกำหนดค่า

In [35]:
data_covid_cases[data_covid_cases['Unit']=='วัน'].sort_values(by = 'age') #sort_values เรียง ตัวแปร age จากน้อยไปมาก

           No. announce_date  ... province_of_onset district_of_onset
339653  339654     12/7/2021  ...       สมุทรปราการ            บางพลี
375821  375822     16/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
367305  367306     15/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
377872  377873     16/7/2021  ...     กรุงเทพมหานคร               NaN
409055  409056     19/7/2021  ...       สมุทรปราการ         พระประแดง
...        ...           ...  ...               ...               ...
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
321015  321016     10/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
291137  291138      6/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
285988  285989      5/7/2021  ...            ชลบุรี           ศรีราชา

[64 rows x 11 columns]

In [32]:
data_covid_cases[data_covid_cases['Unit']==' วัน']

           No. announce_date  ... province_of_onset district_of_onset
138721  138722     27/5/2021  ...       สมุทรปราการ            บางพลี

[1 rows x 11 columns]

```python
data_frame[[list_of_logics]] #list_of_logics มีขนาดเท่ากับจำนวน record ของ data_frame
```

In [33]:
data_covid_cases['Unit']==' วัน' #list_of_logics

0         False
1         False
2         False
3         False
4         False
          ...
512617    False
512618    False
512619    False
512620    False
512621    False
Name: Unit, Length: 512622, dtype: bool

In [83]:
# groupby ดูจำนวนของ unit
data_covid_cases[['Unit','No.']].groupby(['Unit']).agg(['count'])

           No.
         count
Unit
 วัน         1
 เดือน      39
ปี      461483
วัน         64
เดือน     1436

In [77]:
plt.rxParams['font.family'] = 'tahoma'
plt.hist('font') #พิมพ์ตามอาจารย์

<bound method NDFrame.describe of 0          ปี
1          ปี
2          ปี
3          ปี
4          ปี
         ...
512617    NaN
512618    NaN
512619    NaN
512620    NaN
512621    NaN
Name: Unit, Length: 512622, dtype: object>

In [84]:
data_covid_cases[['Unit']] = data_covid_cases[['Unit']].fillna('ปี') 
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [89]:
data_covid_cases[['nationality']] = data_covid_cases[['nationality']].fillna('Thailand')  #commond sense
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

# Quiz 10  หา records ต่อไปนี้

records ที่ กักตัวที่ขอนแก่น

records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร

records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม

records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่

In [62]:
# records ที่ กักตัวที่ขอนแก่น
data_covid_cases[data_covid_cases['province_of_isolation'] =='ขอนแก่น']

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
463        464     22/3/2020  ...           ขอนแก่น             เมือง
1467      1468     30/3/2020  ...           ขอนแก่น             เมือง
1971      1972      3/4/2020  ...           ขอนแก่น             เมือง
2638      2639     15/4/2020  ...           ขอนแก่น            น้ำพอง
...        ...           ...  ...               ...               ...
505598  505599     26/7/2021  ...           ขอนแก่น           ภูเวียง
505599  505600     26/7/2021  ...           ขอนแก่น           ภูเวียง
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[3707 rows x 11 columns]

In [49]:
# records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร
data_covid_cases[(data_covid_cases['province_of_isolation'] =='ขอนแก่น') |(data_covid_cases['province_of_isolation'] =='นครราชสีมา') |(data_covid_cases['province_of_isolation'] =='อุดรธานี') ]

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
189        190     18/3/2020  ...        นครราชสีมา             พิมาย
207        208     18/3/2020  ...     กรุงเทพมหานคร               NaN
212        213     18/3/2020  ...        นครราชสีมา       วังน้ำเขียว
284        285     20/3/2020  ...        นครราชสีมา   เมืองนครราชสีมา
...        ...           ...  ...               ...               ...
507218  507219     26/7/2021  ...               NaN               NaN
507219  507220     26/7/2021  ...               NaN               NaN
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[10539 rows x 11 columns]

In [66]:
#records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม
a = data_covid_cases[(data_covid_cases['sex'] =='หญิง') & (data_covid_cases['province_of_onset'] =='กรุงเทพมหานคร')]
a

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
5            6     25/1/2020  ...     กรุงเทพมหานคร               NaN
6            7     26/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
511560  511561     26/7/2021  ...     กรุงเทพมหานคร            ธนบุรี
511562  511563     26/7/2021  ...     กรุงเทพมหานคร         คลองสามวา
511566  511567     26/7/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
511574  511575     26/7/2021  ...     กรุงเทพมหานคร         ลาดกระบัง
511577  511578     26/7/2021  ...     กรุงเทพมหานคร            บางบอน

[58896 rows x 11 columns]

In [70]:
# records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่
a = data_covid_cases[(data_covid_cases['sex'] =='ชาย')&(data_covid_cases['province_of_isolation'] == 'เชียงใหม่')&(a['age'] >=18)&(a['age'] <=22)]
a

           No. announce_date  ... province_of_onset district_of_onset
1407      1408     30/3/2020  ...         เชียงใหม่             เมือง
30340    30341      9/4/2021  ...         เชียงใหม่    เมืองเชียงใหม่
31499    31500     10/4/2021  ...         เชียงใหม่               NaN
31500    31501     10/4/2021  ...         เชียงใหม่               NaN
31501    31502     10/4/2021  ...         เชียงใหม่               NaN
...        ...           ...  ...               ...               ...
481940  481941     25/7/2021  ...         เชียงใหม่             หางดง
481953  481954     25/7/2021  ...         เชียงใหม่             หางดง
481961  481962     25/7/2021  ...         เชียงใหม่          เชียงดาว
497281  497282     26/7/2021  ...         เชียงใหม่          เชียงดาว
497302  497303     26/7/2021  ...         เชียงใหม่             หางดง

[411 rows x 11 columns]

# Handing Missing Value3 แทนด้วยค่ากลาง

In [91]:
data_covid_cases[['age']] = data_covid_cases[['age']].fillna(data_covid_cases['age'].mean()) #เติมด้วยค่าเฉลี่ย
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

b a a a b b b 

a a a b b b b

In [105]:
sorted(list(data_covid_cases['sex'].dropna()))[int(len(list(data_covid_cases['sex']))/2)-1] #Mode

'หญิง'

In [111]:
data_covid_cases[['sex']].dropna().mode().iloc[0,0]#Mode

'ชาย'

In [112]:
data_covid_cases[['sex']] = data_covid_cases[['sex']].fillna(data_covid_cases[['sex']].dropna().mode().iloc[0,0]) #เติมด้วยค่าเฉลี่ย
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [113]:
set(data_covid_cases['sex'])

{'ชาย', 'นาย', 'หญิง'}

### เติมค่า missing "province_of_isolation"

In [119]:
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()] #เติม province_of_isolation

         No. announce_date  ... province_of_onset district_of_onset
39        40     26/2/2020  ...     กรุงเทพมหานคร          ดอนเมือง
40        41     28/2/2020  ...           นนทบุรี               NaN
41        42     29/2/2020  ...     กรุงเทพมหานคร        วังทองหลาง
42        43      2/3/2020  ...     กรุงเทพมหานคร              สาทร
140      141     16/3/2020  ...     กรุงเทพมหานคร               NaN
...      ...           ...  ...               ...               ...
40815  40816     18/4/2021  ...               NaN               NaN
40816  40817     18/4/2021  ...               NaN               NaN
40817  40818     18/4/2021  ...               NaN               NaN
40830  40831     18/4/2021  ...               NaN               NaN
40831  40832     18/4/2021  ...               NaN               NaN

[508 rows x 11 columns]

In [121]:
#findind Mode of province_of_isolation
data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]#Mode

'กรุงเทพมหานคร'

In [122]:
#fill missing Mode to province_of_isolation
data_covid_cases[['province_of_isolation']] = data_covid_cases[['province_of_isolation']].fillna(data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]) #เติมด้วยค่าเฉลี่ย
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [124]:
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()] #checking isnull หลัง fillna

Empty DataFrame
Columns: [No., announce_date, Notified date, sex, age, Unit, nationality, province_of_isolation, risk, province_of_onset, district_of_onset]
Index: []

In [120]:
# groupby ดูจำนวนของ unit
data_covid_cases[['province_of_isolation','No.']].groupby(['province_of_isolation']).agg(['count'])

                          No.
                        count
province_of_isolation
กระบี่                   1005
กรุงเทพมหานคร          161884
กาญจนบุรี                2756
กาฬสินธุ์                2047
กำแพงเพชร                1800
...                       ...
เพชรบุรี                11268
เพชรบูรณ์                1537
เลย                       853
แพร่                      467
แม่ฮ่องสอน                125

[77 rows x 1 columns]

In [ ]:
data_covid_cases[['sex']].dropna().mode().iloc[0,0]#Mode

In [ ]:
data_covid_cases[['province_of_isolation']] = data_covid_cases[['province_of_isolation']].fillna(data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]) #เติมด้วยค่าเฉลี่ย
data_covid_cases

In [115]:
set(data_covid_cases['province_of_isolation'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}